.page
  position: relative
  margin: 0
  padding: 0

  .navbar
    display: flex
    
  img
    position: absolute
    top: 0
    margin: 0.5rem
    width: 5%
    height: 8%
    cursor: pointer

  .button
    position: absolute
    top: 0
    right: 0
    display: flex
    font-size: 0.5rem
    z-index: 99
    color: #fff
    h1
      padding: 1rem 2rem
      letter-spacing: 2px
      cursor: pointer
      &:hover
        opacity: 0.6
        transition: all 0.35s

.main
  display: flex
  margin: 0
  height: 100vh
  h1
    padding: 20%
    justify-content: center
  button
    border-radius: 15px
    transition: all 0.35s
    outline: none
    font-weight: bold
    font-size: 1.2rem
    width: 22%
    letter-spacing: 1px
    cursor: pointer
    padding: 0.4rem
    border: 3px solid #131313
    font-weight: 200
    &:hover
      opacity: 0.6
    


.main_left
  width: 50%
  text-align: left
  h1
    font-size: 3.5rem
    span
      font-weight: bold
      font-style: italic
  button
    background: #131313
    color: #fff
    margin:
      top: 13%
      left: 70%
  p
    margin: 
      left: 75%

      

.main_right
  width: 50%  
  background: #131313
  color: #fff
  text-align: right
  h1
    font-size: 3.5rem
  button
    font-weight: 200
    margin:
      top: 13%
      right: 70%
  p
    margin: 
      right: 75%

.text
  font-weight: 500


